<div class="row languages align-items-center">
  <div class="col-12 text-center" id="skills">
    <h3 class="mt-3">Skills</h3>
  </div>
  <div class="col text-center">
    <i class="devicon devicon-html5-plain"></i>
    <p>HTML</p>
  </div>
  <div class="col text-center">
    <i class="devicon devicon-css3-plain"></i>
    <p>CSS</p>
  </div>
  <div class="col text-center">
    <i class="devicon devicon-bootstrap-plain"></i>
    <p>Bootstrap</p>
  </div>
  <div class="col text-center">
    <i class="devicon devicon-javascript-plain"></i>
    <p>JavaScript</p>
  </div>
  <div class="col text-center">
    <i class="devicon devicon-vuejs-plain"></i>
    <p>Vue</p>
  </div>
  <div class="col text-center">
    <i class="devicon devicon-csharp-plain"></i>
    <p>C#</p>
  </div>

</div>


{{yield}}