.navbar{
  background-color: #dfdfde;
  min-height: 8vh;
}

.purple{
  color:#9e379f;
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  color: black;
}

.image-row{
  background-image: url("pacificCity.png");
  background-size: cover;
  min-height: 92vh;
  background-position-y: center;
}

.centered{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 64px;
}

.special-font{
  font-family: 'Handlee', cursive;
}

.about-me{
  background-color: #ebd7eb;
  min-height: 50vh;
}

.me{
  width: 260px;
  height: auto;
}

.languages{
  background-color: white;
  min-height: 35vh;
}

.devicon {
  font-size: 5rem;
}

.projects{
  background-color: #dfdfde;
  min-height: 50vh;
}

.card-img-top {
  height: 300px;
  max-width: 100%;
}

.card:hover {
  transform: scale(0.9, 0.9);
  box-shadow: 5px 5px 30px 15px rgba(0, 0, 0, 0.25),
    -5px -5px 30px 15px rgba(0, 0, 0, 0.22);
  cursor: pointer;
}

@media only screen and (min-width: 991px) {
 .info-about-me {
  padding-right: calc((50vw - 260px) / 2)
}
}

.contact-info{
  background-color: #9e379f;
  min-height: 32vh;
}
