.navbar{
  background-color: #dfdfde;
  min-height: 8vh;
}

.purple{
  color:#9e379f;
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  color: black;
}

.image-row{
  background-image: url("pacificCity.png");
  background-size: cover;
  min-height: 92vh;
  background-position-y: center;
}

.centered{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 64px;
}

.special-font{
  font-family: 'Handlee', cursive;
}

.about-me{
  background-color: #ebd7eb;
  min-height: 50vh;
}

.me{
  width: 260px;
  height: auto;
}

.languages{
  background-color: white;
  min-height: 35vh;
}

.devicon {
  font-size: 5rem;
}
